
/** 常用色值 **/
@set-color: {  
  fff: #fff;
  333: #333;
  primary:#b51108;
  primary-2:#b51108;
  primary-3:#bb1007;
  primary-4: #be2a18;
  primary-5: #d5311f;
  primary-6: #d44e2a;
  primary-7: #f16b4a;
  primary-8: #e97549;
  primary-8: #ee8c65;
  primary-9: #d38468;
  primary-10: #fead8f;
  primary-11: #fecd9c;
  primary-12: #ffceaa;
  primary-13: #fff2df;
}

each(@set-color, {
  .color-@{key} {
    color: @value
  }
});

// Variables
@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);

/** 常用字体大小 **/
@font34: 34px;
@font24: 24px;
@font22: 22px;
@font20: 20px;
@font18: 18px;
@font16: 16px;
@font14: 14px;
@font12: 12px;
@headerH_93: 93px;
@headerH_45: 45px;
//git push -u origin master
.primary_btn(@h:24px,@b:12px,@c:@color_primary) {
  box-sizing: border-box;
  height: @h;
  line-height: @h;
  border: 1px solid @c;
  color: @c;
  border-radius: @b;
}
 
.primary_btn_active(@c:@color_primary) {
  border: 1px solid @c;
  color: @c;
}
 
.triangle(right,@tb:16px,@lr:10px,@c:@color_primary) {
  border-color: transparent transparent transparent @c;
  border-top-width: @tb;
  border-left-width: @lr;
  border-right-width: @lr;
  border-bottom-width: @tb;
}
 
.triangle(bottom,@tb:16px,@lr:10px,@c:@color_primary) {
  border-color: transparent transparent @c transparent;
  border-top-width: @tb;
  border-left-width: @lr;
  border-right-width: @lr;
  border-bottom-width: @tb;
}
 
.triangle(top,@tb:16px,@lr:10px,@c:@color_primary) {
  border-color: @c transparent transparent transparent;
  border-top-width: @tb;
  border-left-width: @lr;
  border-right-width: @lr;
  border-bottom-width: @tb;
}
 
.triangle(@_,@tb:16px,@lr:10px,@c:@color_primary) {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
 
.mixin_line-ellipses(@line-num: 1) {
  //white-space: nowrap;
  text-overflow: ellipsis;
  //overflow: hidden;
  //@supports(-webkit-line-clamp: 1) {
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: @line-num;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
  //text-overflow: clip;
  //}
}
 
.icon_fun(@w:14px,@h:14px,@c:@color_primary) {
  width: @w;
  font-size: @w;
  height: @h;
  line-height: @h;
  color: @c;
}
 
.dividingLine(@w:14px,@m:14px) {
  border-width: 0;
  background: @color_dfdfdf;
  width: 1px;
  height: @w;
  margin: 0 @m;
}
 
.iconDelete(@w:14px,@c:#818d9a) {
  cursor: pointer;
  margin-left: 10px;
  width: @w;
  font-size: @w;
  height: @w;
  line-height: @w;
  color: @c;
}
 
.mixin_bg-image(@url:"user-queehg") {
  @iconUrl2: "@2x.png";
  background: url("@{url}@{iconUrl2}") no-repeat 0 0;
  background-size: 100% 100%;
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    @iconUrl3: "@3x.png";
    .mixin_bg-image(@url:"user-queehg") {
      background: url("@{url}@{iconUrl3}") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }
}
 
.mixin_bg-img(@url:"user-queehg") {
  background: url("@{url}") no-repeat 0 0;
  background-size: 100% 100%;
}
 
.mixin_bg-update-img(@url:"user-queehg") {
  background-image: url("@{url}");
}
 
.mixin_vertical_level(@index:10) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: @index;
}
 
.mixin_bg_img_cover() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.mixin_icon_img_cover() {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
 
.mixin_font_size(@h:14px,@c:@color_333) {
  font-size: @h;
  line-height: @h;
  color: @c;
}
 
.mixin_iconfont(@h:14px) {
  height: @h;
  line-height: @h;
  font-size: @h;
}
 
@scrollbar-color: #999;
.mixin_scroll-default-style (@width: 2px) {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 @width rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  &::-webkit-scrollbar {
    width: @width;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @scrollbar-color;
    border-radius: @width;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent)
  }
}
