@import './reset.css';
@import './common.less';
@import './pro.less';
@import './main.less';

body {
  background-color: var(--theme-background);
  color: var(--theme-color);
}

canvas {
  display: inline-block;
}

body, #app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.p--0 {
  padding: 0!important
}

.i-p-0 {
  padding: 0!important
}

.i-mb-0 {
  margin-bottom: 0!important
}

.occupy-banner {
  height: 28vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width:769px) {
  .occupy-banner {
    height: 28vh;
  }
  .md-i-p-0 {
    padding: 0!important
  }
}

@media (min-width: 1281px) {
  .occupy-banner {
    height: 28vh;
  }
  .lg-i-p-0 {
    padding: 0!important
  }
  .lg-i-px-15 {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
